spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
    cache-duration: 3600
    encoding: UTF-8
  profiles:
    active: dev

swagger:
  application-name: ${spring.application.name}
  application-version: 1.0
  application-description: springfox swagger 3.0整合Demo
  try-host: http://localhost:${server.port}

# 系统基本设置
mooding:
  # 名称
  name: mooding
  # 版本
  version: 1.0.0
  # 版权年份
  copyrightYear: 2021
  # 实例演示开关
  demoEnabled: true
<<<<<<< HEAD
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/mooding/uploadPath
  # 获取ip地址开关
  addressEnabled: false
=======
  # 文件路径 示例（ Windows配置D:/mooding/uploadPath，Linux配置 /home/mooding/uploadPath）
  profile: D:/mooding/uploadPath
  # 获取ip地址开关
  addressEnabled: true
>>>>>>> master
  # 验证码类型 math 数组计算 char 字符验证
  captchaType: math

mybatis:
  typeAliasesPackage: cn.mooding.modules.**.mapper
  mapperLocations: classpath:mapper/*.xml

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌秘钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 120

<<<<<<< HEAD
# 项目相关配置
=======
# jasypt加密的密匙
jasypt:
  encryptor:
    password: Y6M9fAJQdU7jNp5MW
>>>>>>> master
