@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
<<<<<<< HEAD
@media screen and (max-width: $xs) {
=======
@media screen and (min-width: $sm) and (max-width: $xs) {
>>>>>>> master
	.el-form-item__label {
		width: 100% !important;
		text-align: left !important;
	}
	.el-form-item__content {
		margin-left: 0 !important;
	}
}
<<<<<<< HEAD
=======

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
	.el-form-item__label {
		width: 80px !important;
		text-align: left !important;
	}
	.el-form-item__content {
		margin-left: 0 !important;
	}
}
>>>>>>> master
